nav {
    width: 100%;
}

header {
    color: rgb(86, 197, 231);
}

.btn {
    background-color: rgb(86, 197, 231);
}

#link {
    color: green;
}

a:hover {
    color: rebeccapurple;
}

.col-md-8 {
    display: block;
    margin: auto;
}

.choice {
    margin-top: 5px;
}

#finalScore {
    font-weight: bold;
}


    
/*@media screen and (max-width: 767px) {
    #form {
        display: block;
        width: 100%;
        margin-left: !20px;
        margin-right: !20px;
    }
}*/

@media screen and (max-width: 575px) {
    .container {
        display: block;
        width: 100%;
        margin-left: !20px;
        margin-right: !20px;
    }
}